main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#all-items-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#item-search-input {
    width: 60%;
    margin: 32px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin: 32px;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nowrap {
    white-space: nowrap;
  }

.basketModal {
    width: 80%;
    max-width: 800px;
    margin:auto;
    margin-top: 64px;
}